

.form-card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.form-header img.student-icon {
  width: 60px;
  margin-bottom: 10px;
}

.form-header h2 {
  margin: 10px 0 5px;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
}

.input-group i {
  margin-right: 10px;
  color: #555;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
}

.button {
  width: 46%;
  padding: 10px;
  border: none;
  border-radius: 10px;
 background: linear-gradient(135deg, #1d2671 0%, #c33764 100%);

  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:disabled {

  cursor: not-allowed;
}

button:hover:not(:disabled) {
  opacity: 0.9;
}

.error {
  font-size: 12px;
  color: red;
  text-align: left;
  margin-top: -10px;
}
.cancel{
  width: 46%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}


.cancel {
 background:linear-gradient(135deg, #0ebbfa 0%, #a516e7 100%);
  color:white;
}

